:root{
    background-color:lightgrey
}

.qcontainer {
    margin-left:35%;
    width:500px;
    height:300px;
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    grid-template-rows:60px 60px 60px 60px 60px;
    border: 10px solid black;
    column-gap:0;
    row-gap:0px;
    text-align:center;
    
    
}

.question{
    
    background-color:blue;
    border:1px solid black;
    font-size:20px;
    text-align:center;
    padding:10px;
    color:yellow;
    font-weight:bold;
    height:60px;
    width:100px;
    cursor:pointer;

}

.header{
    text-align:center;
}

.categories{
    margin-left:35%;
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    grid-template-rows:100px;
    border: 10px solid black;
    column-gap:0px;
    row-gap:0px;
    width:500px;
    height:50px;
}

.category{
    background-color:blue;
    color:white;
    border:1px solid black;
    font-size:10px;
    text-align:center;
    padding:1px;
    width:100px;
    height:50px;
}


  .navbar {
  
    color:white;
    font-size:20px;
    text-align:center;
    width:500px;
    height:30px;
    left:50;
    padding:20;
    height:100px;
    width:100%

  }

  .navOption{
    width:40px;
    height:60px;
    padding:20px;
    text-align:center;
    margin-top:20px;
  }