:root{
    background-color:lightgrey
}

.qcontainer {
    margin:auto;
    width:500px;
    height:300px;
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    grid-template-rows:60px 60px 60px 60px 60px;
    border: 10px solid black;
    column-gap:0;
    row-gap:0px;
    text-align:center;
    
}

.question{
    
    background-color:blue;
    border:1px solid black;
    font-size:20px;
    text-align:center;
    padding:10px;
    color:yellow;
    font-weight:bold;
    height:60px;
    width:100px;
    cursor:pointer;

}

.header{
    text-align:center;
}

.categories{
    margin:auto;
    display:grid;
    grid-template-columns:100px 100px 100px 100px 100px ;
    grid-template-rows:100px;
    border: 10px solid black;
    column-gap:0px;
    row-gap:0px;
    width:500px;
    height:50px;
}

.category{
    background-color:blue;
    color:white;
    border:1px solid black;
    font-size:10px;
    text-align:center;
    padding:1px;
    width:100px;
    height:50px;
}


  .navbar {
  
    color:white;
    font-size:20px;
    text-align:center;
    width:500px;
    height:30px;
    left:50;
    padding:20;
    height:30px;
    width:100%

  }

  .navOption{
    width:40px;
    height:30px;
    padding:20px;
    text-align:center;
    margin-top:20px;
  }

  .scoreboard{
    display: inline-block;
    width: 475px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
    background-color: grey;
    margin-left:auto;
    margin-top:20px;
  }

  .score{
    color:black;
    font-size:30px;
    padding:30px;
    width:250px;
    height:50px;
    
}
.turncounter{
    width: 200px;
    height: 25px;
    padding: 10px;
    margin:auto;
    margin-bottom:40px;
  }
  .greyquestion{
    background-color:darkgrey;
    border:1px solid black;
    font-size:20px;
    text-align:center;
    padding:10px;
    color:grey;
    font-weight:bold;
    height:60px;
    width:100px;

  }

  .greencircle {
    background: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size:30px;
    text-align: center;
    margin:auto;
    padding:20px;
    top:25%
    
}

.yellowcircle {
  background: greenyellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size:30px;
  text-align: center;
  margin:auto;
  padding:20px;
  top:25%
  
}
.redcircle {
  background: #f00;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size:30px;
  text-align: center;
  margin:auto;
  padding:20px;
  top:25%
  
}
.timer{
  
  top:50%;
  left:50%;
}

.questionscreen{
  color:black;
  font-size:15px;
  padding:15px;
  width:500px;
  height:50px;
  margin:auto;
  text-align:center;
  top:25px;

}

.steal{
  color:red;
  font-size:40px;
  padding:15px;
  margin:auto;
  text-align:center;

}

.rightanswer{
  font-size:20px;
  padding:15px;
  margin:auto;
  text-align:center;
  background-color:green;
}

.wronganswer{
  font-size:20px;
  padding:15px;
  margin:auto;
  text-align:center;
  background-color:red;
}

.forminput{
  width:95%;
}
.center{
  text-align:center;
  margin-top:35px;
  padding:50px;
  margin: auto;
}
